<div class="home">
  <p>Count your money :)</p>

  <div class="earning">
    <%= link_to 'Add Earning' %>
  </div>

  <div class="spending">
    <%= link_to 'Add Spending', new_user_spending_path(current_user) if current_user %>
  </div>
</div>