// Place all the styles related to the spendings controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field{
  width: 200px;
  height: 50px;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
