// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page{
  p{
    font-size: 40px;
  }
}

.user_form{

  .labels{
    float: left;
    width: 40%;
    height: 80px;
    .label{
      clear: both;
      float: right;
      margin-right: 5px;
      margin-bottom: 2px;
    }
  }

  .fields{
    float: right;
    width: 60%;
    height: 80px;
    .field{
      padding-left: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      height: 24px;
      width: 250px;
      font-size: 20px;
      float: left;
      clear: both;
    }
  }
  .button{
    margin-top: 35px;
  }
}