<li><%= link_to 'Home', nil, id: 'home-link' unless current_user%></li>
<li><%= link_to 'Login', nil, id: 'login-link' unless current_user %></li>
<li><%= link_to 'Register', nil, id: 'register-link' unless current_user%></li>